/* #container{
  width:600px;
  margin:10px auto;
} */
/*주석이란 프로그램 소스의 내용들을 나중에 알아보기 쉽게 소스 사이사이에 설명글을 붙여 놓는 거라 생각하면 되는데요. 이런 기능의 주석은 나중에 본인이 소스를 볼 때도 편하고 다른 사람이 html 소스를 열어봤을 때 페이지의 내용을 쉽게 이해할 수 있도록 하는 기능을 하는데요*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
/* 구글폰트 googlefont */
h1 {
  padding: 40px;
  background-color: rgb(245, 241, 10);
  color: red;
}
/* 타입 선택자 */
p {
  color: black;
}
/* class 선택자 */
.redtext {
  color: red;
  font-family: "Nanum Pen Script", 바탕;
}
.italic {
  font-style: italic;
  color: rgba(255, 160, 122, 0.445);
}

/* id 선택자 한번만 적용가능 */
#container {
  width: 600px;
  margin: 10px auto;
  text-align: center;
}
/* 그룹 선택자 한번에 한다 */
/* h1,p{
  color: black;
} */
.tstyle {
  text-decoration: underline;
}
.book1 {
  list-style-type: none;
}
/* 223페이지 불릿 제거하는거 */
table {
  caption-side: bottom;
  border: 1px solid black;
}
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  background-color: rgb(110, 103, 103);
}
/* 표 제작 */
.peisong {
  list-style-type: none;
}
/* 불릿 모양 없애기 */
#container2 {
  width: 1000px;
  margin: 10px;
  text-align: center;
  background-color: blanchedalmond;
}
.shadow1 {
  text-shadow: 5px 5px rgb(0, 0, 0);
}
.center {
  text-align: center;
}
/* 책 214에 텍스트 위치 조절 방법 */
