.footer {
  display: flex;
  flex-direction: column;
  background-color: rgba65, 65, 65, 0;
  justify-content: center;
}
.footerContentsBox {
  color: #4a4a4a;
  padding: 12px 0px;
  margin: 0px 60px 0px 0px;
  border: 1px solid rgb(170, 170, 170);
  width: 100vw;
}
.footerbox {
  width: 1000px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.footerbox ul {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0px 0px 0px 20vw;
}
.footerbox li {
  margin: 0px 10px;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  flex-wrap: nowrap;
  width: 1400px;
  margin: auto;
}
#footercontainer1 {
  margin: 0px 0px 0px 0px;
}
#footercontainer1 img {
  margin-right: 50px;
}
#footercontainer2 {
  width: 450px;
  margin-right: 250px;
  font-size: 14px;
}
#footercontainer3 {
  margin: 20px 0px 20px 0px;
  padding: 0px 100px 0px 30px;
  border-left: 1px solid grey;
}
