<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>입력</title>
    <style>
      body {
        background-color: aquamarine;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 400px;
        background-color: orange;
        background: linear-gradient(to left, orange, rgb(255, 223, 164));
        margin: auto;
        text-align: center;
      }
      h1 {
        color: white;
        text-shadow: 5px 5px 5px gray;
      }
      ul {
        list-style: none;
      }
      li {
        color: white;
      }
      .todolistinput {
        position: relative;
      }
      .todolistinput input {
        width: 240px;
        height: 30px;
        border: none;
      }
      .btn {
        position: absolute;
        top: 3px;
        right: 3px;
        background-color: white;
        color: rgb(255, 115, 0);
        font-size: 18px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        text-shadow: 1px 1px 1px gray;
      }
      button {
        background-color: aquamarine;
        color: white;
        border: none;
        border-radius: 5px;
      }
      .todo-item.done .todo-text {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <header>
        <h1><%= name %>님의 TODO LIST</h1>
        <form id="form" action="/todo" method="POST">
          <div class="todolistinput">
            <input
              id="input-name"
              type="hidden"
              name="name"
              value="<%= name %>"
            />
            <input id="input-text" name="text" />
            <button class="btn">추가</button>
            <button type="button" id="btn-delete-all">전체 삭제</button>
          </div>
        </form>
      </header>
      <main>
        <ul class="todo-list">
          <% for(let i = 0; i < todoList.length; i++){ %>
          <li class="todo-item">
            <label
              ><input type="checkbox" class="input-check" /><span
                class="todo-text"
                ><%=todoList[i].text%></span
              ></label
            >
            <button class="btn-edit" data-id="<%=todoList[i].id%>">수정</button>
            <button class="btn-delete">삭제</button>
          </li>
          <%}%>
        </ul>
      </main>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script>
      $("#form").on("submit", (e) => {
        e.preventDefault();
        const value = $("#input-text").val();
        if (value === "") return;

        const name = $("#input-name").val();

        $.ajax({
          url: `/todo`,
          method: "POST",
          data: {
            name: name,
            text: value,
          },
          success: (result) => {
            console.log(result);
          },
        });

        $(".todo-list").append(`
          <li class="todo-item">
            <label>
              <input type="checkbox" class="input-check"/><span
                class="todo-text">${value}</span>
            </label>
            <button class="btn-edit">수정하기</button>
            <button class="btn-delete">삭제</button>
          </li>
      `);

        $("#input-text").val("");
        $("#input-text").focus();
      });

      // 전체삭제
      $("#btn-delete-all").click(() => {
        $(".todo-list").html("");
      });

      $(".todo-list").on("click", ".btn-delete", (e) => {
        $(e.currentTarget).parent().remove();
      });
      /*4.할일 체크하기 -li에 "done"클래스 붙었을때 css변경 -checkbox change이벤트 감지 -$(document).on("change",".input-check",(e)=>{})
       -checkbox값 추출(const checked = e.currentTarget.checked) -그 값에 따라 해당하는 li에 "done"클래스 붙일지 뗄지 결정
              5.수정하기 -prompt로 변경할 텍스트 받아오기 -해당하는 할일 텍스트 부분의 내용 바꿔주기
              ->node.js,express,database*/
      $(document).on("change", ".input-check", function () {
        const checked = $(this).prop("checked");
        if (checked) {
          $(this).closest(".todo-item").addClass("done");
        } else {
          $(this).closest(".todo-item").removeClass("done");
        }
      });

      $(document).on("click", ".btn-edit", function () {
        const text = prompt("수정할 내용을 입력하세요.");
        const id = $(this).data("id");
        $.ajax({
          url: `/todo/${id}`,
          method: "PUT",
          data: {
            text: text,
          },
          success: (result) => {
            console.log(result);
          },
        });
        $(this).parent().find(".todo-text").text(text);
      });
    </script>
  </body>
</html>
